////////
// LOGO

.logo {
    height: 3.25rem;
    margin-left: 2rem;
}


///////////
// SEARCH

.search {
    // background-color: lime;
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-Light-1);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.5rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-Light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-Light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-Light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-Light-1);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }


    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }

}

////////////////////
// USER NAVIGATION

.user-nav {
    align-self: stretch;

    display: flex;
    align-items: center;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-Light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }


}


////////////////
/// SIDE BAR

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-nav {
    list-style: none;

    &__item {
        padding: .8rem;
    }
}


//////////////////
/// MAIN CONTENT

.hotel-info {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.hotel-view {

    &__photos {
        display: flex;
    }

    &__photo {
        width: 33.3333%;
    }

}

.hotel-details {
    display: flex;
    align-items: center;
    

    &__name {
        padding: 2rem;
    }

    &__rating {
        width: 8rem;
        display: flex;
    }

    &__star {
        height: 2.3rem;
        margin: 0;
        // padding: 1rem;
    }
}

.hotel-loc {
    display: flex;
    align-items: center;
    
    &__details {
        padding: 2rem;
    }

    &__vote {
        padding: 2rem;
    }
}

.hotel-content {
    background-color: var(--color-grey-Light-3);
    display: flex;
    justify-content: space-around;
    // margin: 6rem 0;
}

.partOne {
    background-color: #fff;
    border-radius: .5rem;
    padding: 3rem;
    width: 60%;

    &__about {
        padding: .5rem 0 2rem;
        border-bottom: 1px solid rgba(211, 211, 211, 0.499);
    }

    &__features{
        display: flex;
        padding: 2rem 0 2rem;
        border-bottom: 1px solid rgba(211, 211, 211, 0.499);


        ul {
            list-style: none;
            width: 50%;

            li {
                padding-bottom: .5rem;
            }
        }
    } 

    &__recommend {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0 2rem;

        &-note {

        }

        &-thumbnail {

            img {
                width: 5rem;
                border-radius: 50%;
                border: 2px solid #fff;
                margin-left: -2rem;
            }
        }
    }

}

.partTwo {
    width: 30%;
}

.testimonial {
    background-color: #fff;
    border-radius: .5rem;
    margin-bottom: 3rem;
    padding: 2rem;


    &__author {
        display: flex;
        justify-content: space-between;
    }

    &__author-details {
        display: flex;
    }

    &__author-image {
        border-radius: 50%;
        width: 4rem;
        padding-right: 1rem;
    }

}

.booking {
    background-color: var(--color-grey-Light-1);
    box-shadow: 0 -.2rem 1rem rgba(0,0,0,.2);
    padding: 2rem 0 2rem;
    text-align: center;

    &__cta {
        
    }

    &__button {
        // margin: 0 auto;
    }
}